.block7
  width 100%
  height auto
  background-image url("img/bg3.png")
  background-position center center
  background-repeat no-repeat
  background-size cover
  padding-top 32px
  padding-bottom 41px
  @media (min-width 1280px)
    padding-top 56px
    padding-bottom 63px

  .block7-content
    width 100%
    height auto
    justify-content center
    align-items center
    flex-direction column

    .block7-head
      width 80%
      height auto

      h2
        color #e7c75b
        text-align left
        margin-bottom 8px
        font-weight 600
        @media (min-width 768px)
          line-height 37px
          font-size 40px

        br
          display none
          @media (min-width 768px)
            display block




      span
        color #ffffff
        font-family "Intro"
        font-size 15px
        font-weight 400
        text-transform uppercase
        line-height 16px
        @media (min-width 768px)
          font-size 22px
          font-weight 400
          line-height 25px
          position relative
          left 214px
        top -35px

        br
          display none
          @media (min-width 1280px)
            display block


    form
      width 100%
      height auto
      display flex
      display -webkit-flex
      justify-content center
      align-items center
      flex-direction column
      padding-top 40px
      @media (min-width 768px)
        flex-direction row
        justify-content space-between
        padding-top 0
      @media (min-width 1280px)
        max-width 780px

      input
        margin-bottom 12px
        @media (min-width 768px)
          margin 0
          width 214px
        @media (min-width 1280px)
          width 240px

      button
        margin-top 12px
        @media (min-width 768px)
          margin 0
          width 214px
        @media (min-width 1280px)
          width 240px