section.block8.cnt
    div.block8-content.row
        div.block8-head
            h2 Контакты
            hr
        div#map.map


        div.contacts
            div.phone
                h3 Телефон
                p Менеджер отдела продаж: <br> +79088918290 (Никита)
                p Ответственный за обжарку: <br> +79044885025 (Александр)
            div.adress
                h3 АДРЕС
                p Кофейная компания «Funky Coffee» <br>628400, пр-т Ленина, 59, г. Сургут,<br> ХМАО Тюменской области
            div.time-works
                h3 ЧАСЫ РАБОТЫ
                p Пн-Вс: с 9:00 до 20:00.<br> Перерыв: с 14:00 до 15:00.
                p Без выходных. Прием заявок: 24 часа