section.block7.cnt
    div.block7-content.row
        div.block7-head
            h2 Всегда идем на встречу <br>клиенту
            span и готовы предложить вам <br>индивидуальные условия сотрудничества

        form(method="post" action="mailer.php")
            input(name="name" placeholder="Ваше имя" type="text" required="required")
            input(name="phone" placeholder="Контактный телефон" class="phone" required="required")
            button.button-white(type="submit") Узнать