section.block3.cnt
    div.block3-content.row
        div.bg
        div.block3-head
            h2 Коротко о нас
            hr

            p Наша компания обжаривает и продает кофе в зернах по всей России.
            p Мы любим своё дело и наша главная задача состоит в том, чтобы вашим клиентам нравился кофе. Поэтому, прежде чем заключить договор, мы предлагаем вам сначала попробовать наш кофе. Мы всегда идем на встречу и готовы предложить вам индивидуальные условия сотрудничества.
            div.readmore-text
                p Наша компания обжаривает и продает кофе в зернах по всей России.
                p Мы любим своё дело и наша главная задача состоит в том, чтобы вашим клиентам нравился кофе.
                p Поэтому, прежде чем заключить договор, мы предлагаем вам сначала попробовать наш кофе.
                p Мы всегда идем на встречу и готовы предложить вам индивидуальные условия сотрудничества: по доставке, оплате, отсрочке платежа и даже степени обжарки кофе.
                p Особое внимание уделяется контролю за качеством на всех этапах производства.
                p За процессом обжарки следит электроника, однако после, мы  обязательно дегустируем получившийся кофе, чтобы лично убедиться в качестве нашего продукта.
                p Звоните, пробуйте! Будем рады видеть вас в числе постоянных партнеров!
            a(href="#" class="read-more") Читать дальше…

        div.about-video
            a(href=" " class="video-popup")
                img(src="img/video-button.svg")
            a(href=" " class="video-popup")
                p Видео о нас

div#video-pop
    div.video-pop
        iframe(src="https://www.youtube.com/embed/ZurOA494CJc?ecver=1" frameborder="0" allowfullscreen)




