section.block6.cnt
    div.block6-content
        div.block6-head
            h2 Ответы на вопросы

        div.answers-blocks.row
            div.answer-block
                div.answer-img
                    img(src="img/answer-img1.png")
                div.answer-text
                    h2 ВКУСНЫЙ ЛИ КОФЕ?
                    hr
                    p Рассказывать о кофе можно много, однако это тот продукт, который нужно пробовать, а не говорить о нем.
                    p Поэтому прежде чем начать сотрудничать, мы отправим вам бесплатную пачку кофе на пробу, чтобы вы лично пробовали его.

            div.answer-block
                div.answer-img
                    img(src="img/answer-img2.png")
                div.answer-text
                    h2 СТЕПЕНЬ ОБЖАРКИ?
                    hr
                    p Мы используем среднюю степень обжарки, т.к. полученный кофе имеет более сбалансированный вкус, что позволяет использовать его для приготовления любого напитка.
                    p Однако мы можем сделать индивидуальную обжарку при заказе от 20 кг кофе.

            div.sertificate-block
                h2 ФИНАНСОВЫЕ УСЛОВИЯ СОТРУДНИЧЕСТВА и СТОИМОСТЬ?
                hr
                div.discription-sertificate
                    div.discription-text
                        p Обычно мы работаем по 100% предоплате, но тем не менее можем предоставить отсрочку платежа. Всё обговаривается индивидуально.
                        p Оптовая стоимость нашего обжаренного кофе - от 800 руб.  Можем сделать индивидуальную скидку, либо обговорить индивидуальные условия.
                    div.sertificate-img
                        a(class="fancybox g2l" rel="glry21" href="img/sertificate.jpg")
                            img(src="img/sertificate.jpg")
                        a(class="fancybox g2l" rel="glry21" href="img/sertificate-2.jpg" style="display: none")




