section.block5.cnt
    div.block5-content
        div.block5-head
            h2 С нами работают
            hr

        div.slider
            div.prev
            div.slick-slider

                div.slick-slide
                    img(src="img/logo-1.png")
                div.slick-slide
                    img(src="img/logo-2.png")
                div.slick-slide
                    img(src="img/logo-3.png")
                div.slick-slide
                    img(src="img/logo-4.png")
                div.slick-slide
                    img(src="img/logo-5.png")
                div.slick-slide
                    img(src="img/logo-6.png")
                div.slick-slide
                    img(src="img/logo-7.png")
                div.slick-slide
                    img(src="img/logo-8.png")
                div.slick-slide
                    img(src="img/logo-9.png")
                div.slick-slide
                    img(src="img/logo-10.png")

            div.next