footer.cnt
    div.footer-content.row
        div.politic
            h3 COFFEE-NATION
            a(href="#" class="politic") Политика конфиденциальности

        div.tel
            a(href="tel:88003021246") 8 800 302 12 46
            p звонок бесплатный

        div.nt-logo
            a(href="http://worknext.ru/" target="_blank")
                img(src="img/logotype.png")

div#politic
    div.politic-popup
        h3 Политика конфиденциальности
        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
        p Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.
        p Под персональными данными Гражданина понимается нижеуказанная информация: общая информация (имя и адрес электронной почты, телефон).
        p Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
        p Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.



div.hidden
    a#thnx.fancybox(href=".thnx")
    div.thnx
        img(src="img/logo-color.png")
        h2 Благодарим <br>за обращение!